.hero {
    /* border: 1px solid red; */
    text-align: center;
    color: #fff;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #485059;
}

.city {
    font-size: 40px;
}

.temp {
    font-size: 60px;
}

.description {
    font-size: 40px;
}

.icon {
    font-size: 50px;
}